h1{
    font-size: xx-large;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    color: rgb(98, 255, 0);
    text-transform: uppercase;
}
body{
    background: #020d2b;
    color: white;
    background-image: url(assets/images/wedd.jpg);
}

.fa-solid {
    color: rgb(18, 0, 73);
}
.nav-links{
    text-decoration: none;
    list-style: none;
    gap: 30px;
    margin-top:20px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
}
nav a{
    text-decoration: none;
    color: white;
    font-size: 22px;
}

img {
    width: 100px;
    height: 220px;
}
.products{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 30px;
    padding: 40px;
    color: black;
}
.product-card{
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    transition: 0.3s;
    background-color: maroon;
    color: aliceblue;
    border-radius:10px ;
}
.product-card img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 12px;
}

.main {
    background-color: rgb(1, 16, 30);
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(assets/images/skers.jpg);
    background-size: contain;
    background-position: center;
    justify-content: center;
}
.glass-box {

    width: 80%;
    max-width: 700px;
    padding: 40px;
    background: rgb(70, 61, 61);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);  
    text-align: center;
    color: white;
    margin: auto;
}
.hero {
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    color: blue;
    text-align: center;
}
.price {
  color: #ff4d4d;
  font-size: 1.2rem;
  margin: 10px 0;
}
.product-card button {
  width: 100%;
  padding: 12px;
  border: none;
  background: #111;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}
.product-card button:hover {
  background: #ff4d4d;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}