h1{
    font-size: xx-large;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    color: goldenrod;
    text-transform: uppercase;
    text-decoration: underline;
}
body{
    background: #020d2b;
    color: white;
}

.fa-solid {
    color: rgb(176, 158, 230);
}
.nav-links{
    text-decoration: none;
    list-style: none;
    gap: 30px;
    margin-top:20px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
}
nav a{
    text-decoration: none;
    color: white;
    font-size: 22px;
}

img {
    width: 100px;
    height: 220px;
}
.products{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 30px;
    padding: 40px;
    color: black;
}
.product-card{
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    transition: 0.3s;
    background-color: maroon;
    color: aliceblue;
    border-radius:10px ;
    padding: 20px;
    overflow: hidden;
    cursor: pointer;
}
.product-card img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 12px;
    transition: 0.3s;
}

.main {
    background-color: rgb(1, 16, 30);
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(assets/images/skers.jpg);
    background-size: contain;
    background-position: center;
    justify-content: center;
}
.glass-box {

    width: 80%;
    max-width: 700px;
    padding: 40px;
    background: rgb(65, 6, 6);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);  
    text-align: center;
    color: white;
    margin: auto;
}
.hero {
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    color: rgb(244, 244, 244);
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
}
.price {
  color: #ff4d4d;
  font-size: 1.2rem;
  margin: 10px 0;
}
.product-card button {
  width: 100%;
  padding: 12px;
  border: none;
  background: #111;
  color: white;
  border-radius: 10px;

}
.product-card:hover{
      cursor: pointer;
    transition: 0.3s;
    transform: rotateY('angle');
}


.product-card button:hover {
  background: #ff4d4d;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(153, 152, 152, 0.7);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
h1 ~ p {
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    color: aqua;
}
h2 ~ p {
    color: rgb(255, 255, 255);
    text-decoration: dotted;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
.modal {
     position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;

    background: rgba(0,0,0,0.7);

    display: none;

    justify-content: center;
    align-items: center;
}
.modal:target{
    display: flex;
}
.modal-content{
    background: white;

    width: 90%;
    max-width: 500px;

    padding: 30px;

    border-radius: 20px;

    text-align: center;

    position: relative;

    animation: popup 0.3s ease;
}
.modal-content img{
    width: 100%;
    height: 300px;
    object-fit: cover;

    border-radius: 15px;
}

.modal-description{
    color: #444;
    line-height: 1.6;
}

.view-btn{
    margin-top: 10px;
    text-transform: none;
    padding: 10px 20x;
    border: none;
    background: red;
    color: white;
    border-radius: 10px;
    display: inline-block;
}

.close-btn{
    position: absolute;

    right: 20px;
    top: 10px;

    font-size: 2rem;

    cursor: pointer;

    color: black;
}