*{
  margin-top: 20px;
  padding: 12px 20px;
  border: none;
  background: #111;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.close-btn {
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 2rem;
  cursor: pointer;
}

@keyframes popup {
  from {
    transform: scale(0.7);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

/* CART SIDEBAR */
.cart-sidebar {
  background: white;
  padding: 30px;
  margin: 30px 8%;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.cart-item {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}

.checkout-btn {
  width: 100%;
  margin-top: 20px;
  padding: 12px;
  background: #ff4d4d;
  border: none;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #111;
  color: white;
  margin-top: 50px;
}

/* RESPONSIVE */
@media(max-width: 900px) {

  .hero {
    flex-direction: column;
    text-align: center;
  }

  .hero-image img {
    width: 100%;
  }

  nav {
    flex-direction: column;
    gap: 20px;
  }
}